:root{
    font-family: 'Montserrat', sans-serif;
    
    --dark-cyan: hsl(158, 36%, 37%);
    --darker-cyan: 	hsl(158, 42%, 18%);
    --cream: hsl(30, 38%, 92%);
    
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-gray-blue: hsl(228, 12%, 48%);
    
    --font-size-regular: 0.875rem;
}

body {
    background-color: var(--cream);
    display: grid;
    grid-template-rows: 20fr 1fr;
    min-height: 97vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-card {
    display: grid;
    max-width: 21.5rem;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    color: var(--dark-gray-blue);
}

.product-desc {
    padding: 32px;
    font-size: var(--font-size-regular);
}

.product-desc h1 {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    font-variation-settings: "opsz" 72;
    line-height: 2rem;
    color: var(--very-dark-blue);
    margin: 0 0 1.5rem 0;
}

.product-desc h2 {
    margin: 0 0 1.25rem 0;
    font-size: 0.75rem;
    letter-spacing: 0.313rem;
    font-weight: 500;
}

.product-desc > p {
    line-height: 1.438rem;
    margin: 0 0 1.813rem 0;
}

.preview-img {
    max-width: 100%;
    content: url(images/image-product-mobile.jpg);
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    margin: 0 0 1.875rem 0;
    height: 2rem;
}

.price p:last-of-type {
    text-decoration: line-through;
    margin: 0;
}

.price p:first-of-type {
    color: var(--dark-cyan);
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    font-weight: 700;
    font-variation-settings: "opsz" 72;
    margin: 0;
}

.add-to-cart {
    background-color: var(--dark-cyan);
    padding: 1rem 4rem;
    width: 100%;
    color: white;
    border: 0;
    border-radius: 0.5rem;
    font-size: 0.75rem;
}

.add-to-cart:active {
    background-color: var(--darker-cyan);
}

.add-to-cart:hover {
    cursor: pointer;
}

.add-to-cart img {
    margin: 0 0.75rem 0 0;
}

@media screen and (min-width: 37.5rem) {
    .preview-card {
        grid-template-columns: 1fr 1fr;
        max-width: 37.5rem;
        max-height: 28.125rem;
    }

    .preview-img {
        content: url(images/image-product-desktop.jpg);
    }
}
